DATABASE_URL=postgresql://replace-me
DIRECT_URL=postgresql://replace-me
REDIS_URL=redis://replace-me
NEXT_PUBLIC_APP_URL=https://gymrats.up.railway.app
NEXT_PUBLIC_API_URL=https://gymrats-production.up.railway.app
BETTER_AUTH_URL=https://gymrats.up.railway.app
CORS_ALLOWED_ORIGINS=https://gymrats.up.railway.app
TRUSTED_ORIGINS=https://gymrats.up.railway.app
BETTER_AUTH_SECRET=replace-me
GOOGLE_CLIENT_ID=replace-me
GOOGLE_CLIENT_SECRET=replace-me
EMAIL_USER=replace-me
EMAIL_PASSWORD=replace-me
DEEPSEEK_API_KEY=replace-me
ABACATEPAY_WEBHOOK_SECRET=replace-me
ABACATEPAY_API_TOKEN=replace-me
